*{
	margin:0;
    box-sizing:border-box;

}
a{
  text-decoration:none;
}
body{
  	font-family: Tahoma;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: lightgray;
	background-image: url("../img/bg2.jpg");


}
.wrap{
	width:1025px;
	margin:auto;

}
/*
.header{
	height:120px;
	width: 1000px;
	font-size:36px;
	font-weight:bold;+-
	line-height:1.2em;
	text-transform:none;
	text-align:center;
	vertical-align: center;
	background:transparent; /*url(../img/loan4.jpg) repeat-x left top;*//*
	color: teal;
	border-radius: 8px;
	box-sizing: border-box;
	margin: 5px;


}*/


.header {
            background-color:#354370; /* Green background */
            color: aliceblue ; /* White text */
            text-align: center; /* Centered text */
            padding: 25px; /* Some padding */
            font-family: 'Arial, sans-serif'; /* Font style */
            border-bottom: 5px solid #fff; /* A white border below */
            opacity: 0.9;
			font-size: 50px;
			font-weight: bold;
        }
        .header h1 {
            font-size: 50px; /* Larger font size for the heading */
            margin: 0; /* Remove default margins */
        }
        .header p {
            font-size: 20px; /* Smaller font size for the subheading */
            margin-top: 10px; /* Small top margin for spacing */
        }

.nav{
	height:50px;
	background:aliceblue;
    padding:5px;
	border-radius: 8px;
	box-sizing: border-box;
	margin: 5px;
	width: 1025px;
}

.nav ul{
  list-style:none;
  padding:0;
  display:flex;
	justify-content: right;
}
.nav ul li{
  margin:0px 5px;
}
.nav ul li a{
  color:#354370;
  display:block;
  padding:8px 12px;
	font-weight:bold;+-
}

.nav ul li:hover a{
  background:#E1E8F0;
  color:red;
  font-weight:bold;+-
}

.container{
	background-color: aliceblue;

    opacity: 0.9;
    width:1025px;
    margin:auto;
	height: 500px;
	border-radius: 8px;
	box-sizing: border-box;
}

.left{
	width:30%;
	height:auto;
	float:left;
	background:#E3E3E3;
	border-radius: 8px;
	box-sizing: border-box;

}
.right{
	width:70%;
	height:auto;
	float:left;
	border-radius: 8px;
	box-sizing: border-box;
}

.clear{
	clear:both;
}

.footer{
	height:30px;
	background:transparent;

}

.content
{
	margin:5px;
	padding: 5px;
	height: auto;
	min-height: 500px;
	background-color: aliceblue;
    opacity: 0.9;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.msg{
	color:#354370;
	font-weight:bold;
}

/**** Side Menu ****/
#menu{
    padding:20px;
    margin: 10px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

#menu li  {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#menu li {
  text-align: center;
  border-bottom: 1px solid #555;
}

#menu li:last-child {
  border-bottom: none;
}

#menu li  {
  background-color: #354370;
  color: aliceblue;
}

#menu li:hover {
  background-color: aliceblue;
  color: #354370;
}
/**** end side menu*/

.inline-container { overflow: auto; align-items: center}
.inline-container img {float: left; margin-right: 10px; /* Adjust the space between the image and text */ }
.inline-container text{display: flex; float: right; width: calc(100% - 60px); /* Adjust width based on image size and margin */ text-align: right;}
